<mat-card>
  <h1>{{formType}}</h1>
  <form #bookForm="ngForm"ngNativeValidate>
    <div class="example-container">
      <p>
          <mat-form-field appearance="standard">
            <mat-label>Title</mat-label>
            <input matInput 
              [(ngModel)] = "title"
              name = "title"
              required>
          </mat-form-field>
        </p> 
        <p>
          <mat-form-field appearance="standard">
            <mat-label>Author</mat-label>
             <input matInput type="number"
            min="0"
            max="24"
            [(ngModel)] = "author" 
            name = "author" 
            required> 
            
          </mat-form-field>
        </p>                                       
        <p>
          <mat-form-field appearance="standard">
            <mat-label>Summary</mat-label>
            <input matInput 
            

              [(ngModel)] = "summary" 
              name = "summary" 
              required>
          </mat-form-field>
        </p>                                       
      <div >
          <button mat-raised-button color="primary" 
        
                  (click)= "updateParent()"
                  [disabled]="bookForm.invalid">
                   {{formType}}
          </button>
          <button mat-raised-button  
                  (click)= "tellParentToClose()">
                   Cancel
          </button>            
      </div>
    </div>
  </form>
 </mat-card>



