<p *ngIf = "!(weatherData$ | async)&&!hasError">Loading data..</p>
<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar *ngIf = "!hasError" src={{image}} alt="Photo of weather">
    <mat-card-title *ngIf="!hasError">Temperatures in {{city}} {{country}} : {{(weatherData$ | async).temperature | number:'1.0-0'}}°</mat-card-title>
    <mat-card-title *ngIf = "hasError">{{errorMessage}}</mat-card-title>
    <mat-card-subtitle>{{description}}</mat-card-subtitle>
  </mat-card-header>
 <!-- <img mat-card-image src="{{image}}" alt="Photo of a Shiba Inu"> -->
 <mat-card-content *ngIf = "!hasError">
    Latitude : {{lat}}°
    <br>
    Longitude : {{lon}}°
  </mat-card-content>
  <mat-card-actions>
    <button mat-button><a routerLink="/city" routerLinkActive="active">SELECT CITY</a></button>
  </mat-card-actions>
</mat-card>